{% extends "base.html" %}

{% block content %}

<main class = "container py-5">
    <seccion class="card card-body">
        <h1 class = "display-1 text-center"> Django App </h1>

        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Amet, assumenda animi magni temporibus molestias tenetur,
            maxime nisi maiores molestiae, doloremque eaque cumque
            perferendis voluptatibus omnis fuga perspiciatis? Voluptatum,
            tempore itaque accusantium delectus esse, quidem veniam
            minima ratione ipsa laboriosam unde officia rerum aspernatur
            ex distinctio et aut officiis corrupti odit illum impedit
            error cumque earum. Officia quae cumque, quod quia perspiciatis
            nobis dolores corrupti explicabo modi, ipsum magnam mollitia
            repudiandae facilis deleniti sint eos doloremque veritatis,
            iste doloribus ab optio dolore inventore. Error soluta omnis
            delectus ducimus sunt obcaecati tenetur adipisci! Voluptatibus,
            consequuntur incidunt quae ea amet nulla veritatis facilis!
        
            <div class = "text-center">
                <a class = "btn btn-secondary" href = "/signin"> 
                    Signin
                </a>
                <a class = "btn btn-dark" href = "/signup"> 
                    Signup
                </a>
            </div>

        </p>
    </seccion>
</main>

{% endblock %}